/* Styles for mod_pdfcertificate */
.mod_pdfcertificate_define {
    border: 2px solid steelblue;
    display:flex;
    padding:5px;
}
.mod_pdfcertificate_define img {
    margin-left: auto;
}
.mod_pdfcertificate_element_list {
    display:block;
}