{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_pdfcertificate/define_template

    Moodle renders a simple view page

    Classes required for JS:
    * elements.js, selectors.js

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title String a page title.
    * width number canvas width in px.
    * height number canvas height in px.

    Example context (json):
        {
         "title": "My heading",
         "width": "600",
         "height": "600"
        }
}}
<div class="card"
    <h2 class="card-title">{{name}}</h2>

<div class="mod_pdfcertificate_define">
  <div class="mod_pdcertificate_elements">
    <h5 class="card-title">{{#str}} elementslist, mod_pdfcertificate {{/ str}}</h5>
    <ul id="mod_pdfcertificate_list">
      {{# elements}}
        <li>{{name}}</li>
      {{/ elements}}
    </ul>
  </div>
  <img src="{{baseimageurl}}" width="80%">
</div>
</div>
    <div class="mod_pdfcertificate_toolbox">
        <button class="btn btn-primary" data-action="mod_pdcertificate/save_button">
            {{#str}} save, core {{/str}}
        </button>
        <button class="btn btn-primary" data-action="mod_pdcertificate/addelement_button">
            {{#str}} addelement, mod_pdfcertificate {{/str}}
        </button>
        <button class = "btn btn-secondary" data-action="mod_pdfcertificate/clear_button">
            {{#str}} clear, mod_pdfcertificate {{/str}}
        </button>
        <button class = "btn btn-secondary" data-action="mod_pdfcertificate/cancel_button">
            {{#str}} cancel, core {{/str}}
        </button>
    </div>
    {{#attributes}}
        {{courseid}}="{{courseid}}"
        {{pdfcertificateid}}="{{pdfcertificateid}}"
    {{/attributes}}
</div>

{{#js}}
    require(['mod_pdfcertificate/define_template'],
        function(module) {
            module.init({{courseid}});
        }
    );
{{/js}}